body,
html {
    background-color: rgb(34, 63, 73);
    height: 100%;
}

img {
    border-radius: 5px;
}

nav {
    background-color: rgb(34, 55, 62);
    box-shadow: 3px 0px 10px black;
}

footer {
    background-color: rgb(34, 55, 62);
    box-shadow: 5px 50vh 10px 50vh rgb(34, 55, 62);    
    color: white;
}

/* Yellow color hover yellow */
.yellow-color a:hover {
    color: rgb(248, 158, 26);
}

.header {
    margin-bottom: 0;
    border-radius: 0;
    background-size: cover;
}

.header .nav-link {
    color: white;
    font-weight: bold;
}

.header .nav-link:hover {
    color: rgb(248, 158, 26);
}

.navbar,
.sidebar {
    box-shadow: 3px 0px 10px black;
}

.navbar-toggler {
    border-color: rgb(34, 63, 73);
}

a,
h1,
h2,
h3,
label,
footer,
p,
ol,
td,
th,
h5 {
    color: white;
    text-decoration: none;
}

.mt-n5 {
    margin-top: -3rem !important;
}

.card {
    border-radius: 15px;
    box-shadow: 3px 3px 10px black;
    background-color: rgb(34, 55, 62);
}

.card-shadow {
    box-shadow: 3px 5px 10px black;
}

.card-product {
    transition: 0.3s;
}

.card-product:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    transform: scale(1.05);
}

.btn {
    background-color: rgb(248, 158, 26);
    border: none;
    color: white;
}

.btn:hover {
    background-color: rgb(181, 111, 6);
    color: white;
}

/* Button push down */
.btn:active {
    transform: translateY(2px);
    background-color: rgb(181, 111, 6);
}

.btn:disabled {
    background-color: rgb(34, 63, 73);
    color: white;
}

.btn-danger {
    background-color: rgb(255, 0, 0);
    border: none;
    color: white;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

#lblCartCount {
    font-size: 12px;
    background: rgb(248, 158, 26);
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px;
}