
body {
    background-color: rgb(43, 42, 51);
}

img {
    mix-blend-mode: multiply;
}

.header {
    margin-bottom: 0;
    border-radius: 0;
    background-size: cover;
}
.header .nav-link {
    color: white;
    font-weight: bold;
}
.header .nav-link:hover {
    color: grey;
}
.navbar, .sidebar {
    box-shadow: 3px 0px 10px black;
}

h1, p, ol {
    color: white;
    width: fit-content;
}

footer {
    color: white;
}
.bg-dark a, a, h1, h2, h3, label {
    color: rgba(255,255,255,.7);
}

.card {
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
}

.card-shadow {
    box-shadow: 3px 30px 10px black;
}